 @charset "UTF-8";

main{
   min-width: 320;
   max-width: 900;
    
}

body {

    text-align: center; 
    border-color: rgb(243, 226, 151);
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 226, 151);
    margin: auto;
    background-image: url(imagens/praia01.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
    
     
 }

 h1{
    color: white;
 }

 h2{
    color: white;
    box-shadow: none;
 }

 h3{
    color: white;
    box-shadow: none;
    text-align: center;
    margin: 15px;
 }

 h4{
    color: white;
    box-shadow: none;
 }
 
 h5{
   color: white;
 }

 p{
    color: white;
 }

 div {
     text-align: center; 
     background-color: rgb(243, 226, 151);
     background-image: linear-gradient(to top, rgb(238, 203, 49),rgb(245, 86, 46));
     
       
 }

 div > img{
    width: 100%;
 }

 li {
     font-family: Arial, Helvetica, sans-serif;   
     color: white;
     
 }

div > nav{                        /*menu*/
   
    padding: 10px; /*distanciamento*/
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.315);
    width: 100%;
}

nav > a{                    /*link do menu*/
   color: rgb(136, 208, 250);
   background-color: orangered;
   
    
    padding: 10px; /*dist. dos links*/
    border-radius: 5px; /*arred. da borda*/
    text-decoration: none; /*tirar sublinhado*/ 
    font-weight: bolder; /*negrito*/
}

nav > a:hover {             /*quando passa o mouse em cima*/
    color: orangered;
    background-color: rgb(136, 208, 250);
}

img{
    
    background-size: cover;
}
video{
   width: 60%;
}
.linguagem {
   text-align: right;
}
.Patrocinio img{
   width: 800px;
   right: 100%;
}