*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-width: 320;
    max-width: 900;
     
 }

body{
            
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(243, 226, 151);
    margin: auto;
    text-align: center;
}
.logo img{
    width: 100%;
    background-size: cover;
    background: linear-gradient(to top, rgb(238, 203, 49),rgb(245, 86, 46));
}

.fotos h3{
    color: orangered
    
}
.fotos img{
    display: inline;
    width: 50%;
    
}

.photo img{
    width: 30%;
}

div{
    text-align: center;
    padding: 10px;
}
h1{
    color: orangered;
    text-align: center;
}
h2{
    text-align: center;
    color: orangered;
}
video{
    width: 70%;
        
}
a > img{
    color: black;
    text-align: center;
}

nav {
    display: inline-block;
}
nav > a{                    /*link do menu*/
    color:  rgb(136, 208, 250);
    background-color: orangered;
    padding: 10px; /*dist. dos links*/
    border-radius: 5px; /*arred. da borda*/
    text-decoration: none; /*tirar sublinhado*/ 
    font-weight: bolder; /*negrito*/
    display: inline-flex;
    
}

nav > a:hover {             /*quando passa o mouse em cima*/
    color: orangered;
    background-color: rgb(136, 208, 250);
}

img{
    padding: 4px;
}